Repository AlgoLab/MALVIRUS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlgoLab/MALVIRUS, @yp, @sciccolella, @mpre, @ldenti

.github/CODEOWNERS:

*  @AlgoLab/MALVIRUS
/.github/ @yp
/flask/  @sciccolella
/frontend/  @yp
/help/  @mpre
/snakemake/ @ldenti @mpre @sciccolella
/software/ @ldenti
Dockerfile @yp
environment.yml @ldenti
run.sh @yp

REPO, update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/new-idea.md
  .github/ISSUE_TEMPLATE/problems-with-data-unexpected-analysis-results.md
Owners: @yp

REPO, fix typo
  CONTRIBUTING.md
Owners: @AlgoLab/MALVIRUS

REPO, update README
  README.md
  help/README.md
Owners: @AlgoLab/MALVIRUS, @mpre

GHP, update home page
  index.md
Owners: @AlgoLab/MALVIRUS

CNT: pin version of Docker base images and fix resulting missing package
  Dockerfile
Owners: @yp

CNT: smaller image
  Dockerfile
Owners: @yp

DOCS: add build badge
  README.md
Owners: @AlgoLab/MALVIRUS

Add snpEff to MALVIRUS pipeline
  environment.yml
  frontend/src/pages/CallReport/GenotypeTable.jsx
  snakemake/Snakefile.malva
  software/bin/ease_malva_vcf.py
Owners: @ldenti, @yp, @mpre, @sciccolella

SNAKEFILE: remove threads from snpEff command line (it says that multithreading not supported in this version)
  snakemake/Snakefile.malva
Owners: @ldenti, @mpre, @sciccolella

FE: report all the effects in the genotype table
  frontend/src/pages/CallReport/CallReport.jsx
  frontend/src/pages/CallReport/EffectsText.jsx
  frontend/src/pages/CallReport/GenotypeTable.jsx
  frontend/src/pages/CallReport/utils.js
Owners: @yp

FE: upgrade dep
  frontend/package.json
  frontend/yarn.lock
Owners: @yp

BE: security check on path joining
  flask/app/views.py
Owners: @sciccolella

BE: add the list of references
  flask/app/views.py
Owners: @sciccolella

BE: allow to use MALVIRUS-provided genomic sequences
  flask/app/views.py
Owners: @sciccolella

FE: allow to use MALVIRUS-provided genomic sequences
  frontend/src/ajax/refs.js
  frontend/src/app-config.js
  frontend/src/pages/VcfNew/VcfNew.jsx
  frontend/src/pages/VcfNew/index.jsx
  frontend/src/pages/VcfUpload/VcfUpload.jsx
  frontend/src/pages/VcfUpload/index.jsx
Owners: @yp

SNAKEFILE: run snpEff if and only if refname is given
  snakemake/Snakefile.malva
Owners: @ldenti, @mpre, @sciccolella

FE: upgrade dep (and related minor changes)
  frontend/craco.config.js
  frontend/package.json
  frontend/src/pages/CallReport/EffectsText.jsx
  frontend/src/pages/Help/Help.css
  frontend/theme.js
  frontend/yarn.lock
Owners: @yp

HELP: update docs
  README.md
  help/README.md
  help/TUTORIAL.md
  help/USAGE.md
  help/geno_results.png
  help/geno_submission_form.png
  help/geno_table.png
  help/geno_wild.png
  help/geno_wild_snpeff.png
  help/snpeff_annot.png
  help/vcf_submission_form.png
  help/vcf_submission_report.png
Owners: @AlgoLab/MALVIRUS, @mpre

GHP: update website pages with new features
  TUTORIAL.md
  USAGE.md
  geno_results.png
  geno_submission_form.png
  geno_table.png
  geno_wild.png
  geno_wild_snpeff.png
  index.md
  snpeff_annot.png
  vcf_submission_form.png
  vcf_submission_report.png
Owners: @AlgoLab/MALVIRUS

HELP: small fix
  help/USAGE.md
Owners: @mpre

GHP: small fix
  USAGE.md
Owners: @AlgoLab/MALVIRUS

GHP: fix color scheme
  Gemfile.lock
  _config.yml
  _sass/color_schemes/malvirus.scss
Owners: @AlgoLab/MALVIRUS

FE: upgrade dep (and related minor changes)
  frontend/package.json
  frontend/src/antd-fixes.less
  frontend/src/bootstrap.jsx
  frontend/src/components/ButtonPanel.module.css
  frontend/src/components/TableButton.module.css
  frontend/src/index.css
  frontend/src/pages/CallReport/VirtualTable.module.css
  frontend/src/pages/Help/Help.css
  frontend/src/pages/Help/Help.jsx
  frontend/src/serviceWorker.js
  frontend/yarn.lock
Owners: @yp

FE: upgrade to Yarn 2
  Dockerfile
  frontend/.gitignore
  frontend/.yarn/releases/yarn-berry.cjs
  frontend/.yarnrc.yml
  frontend/yarn.lock
Owners: @yp

BE: add pangolin to the pipeline
  Dockerfile
  environment-bcftools.yml
  environment-malva.yml
  environment.yml
  flask/app/views.py
  snakemake/Snakefile.malva
Owners: @yp, @AlgoLab/MALVIRUS, @ldenti, @sciccolella, @mpre

FE: update (c)
  frontend/src/App.jsx
Owners: @yp

FE: upgrade to Yarn 2.4
  frontend/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  frontend/.yarn/releases/yarn-2.4.0.cjs
  frontend/.yarnrc.yml
Owners: @yp

FE: update dependencies
  frontend/package.json
  frontend/yarn.lock
Owners: @yp

FE: migrate the codebase to the JSX transform
  frontend/src/App.jsx
  frontend/src/bootstrap.jsx
  frontend/src/components/ButtonPanel.jsx
  frontend/src/components/Description.jsx
  frontend/src/components/Error.jsx
  frontend/src/components/FName.jsx
  frontend/src/components/JobParameters.jsx
  frontend/src/components/Loading.jsx
  frontend/src/components/PleaseWaitModal.jsx
  frontend/src/components/SnakemakeLog.jsx
  frontend/src/components/StatusTag.jsx
  frontend/src/components/TableButton.jsx
  frontend/src/components/TableLink.jsx
  frontend/src/pages/Call/Call.jsx
  frontend/src/pages/Call/index.jsx
  frontend/src/pages/CallList/CallList.jsx
  frontend/src/pages/CallList/CallTable.jsx
  frontend/src/pages/CallNew/CallNew.jsx
  frontend/src/pages/CallNew/index.jsx
  frontend/src/pages/CallReport/CallReport.jsx
  frontend/src/pages/CallReport/DownloadAsXlsx.jsx
  frontend/src/pages/CallReport/EffectsText.jsx
  frontend/src/pages/CallReport/GenotypeCell.jsx
  frontend/src/pages/CallReport/GenotypeTable.jsx
  frontend/src/pages/CallReport/TableForm.jsx
  frontend/src/pages/CallReport/VirtualTable.jsx
  frontend/src/pages/CallReport/index.jsx
  frontend/src/pages/Help/Help.jsx
  frontend/src/pages/Help/buildHelpPage.jsx
  frontend/src/pages/Help/index.jsx
  frontend/src/pages/Vcf/Vcf.jsx
  frontend/src/pages/Vcf/index.jsx
  frontend/src/pages/VcfList/VcfList.jsx
  frontend/src/pages/VcfList/VcfTable.jsx
  frontend/src/pages/VcfNew/VcfNew.jsx
  frontend/src/pages/VcfNew/index.jsx
  frontend/src/pages/VcfUpload/VcfUpload.jsx
  frontend/src/pages/VcfUpload/index.jsx
  frontend/src/utils/call-params.jsx
  frontend/src/utils/tables.js
Owners: @yp

FE: add PANGOLIN support
  Dockerfile
  environment-malva.yml
  flask/app/views.py
  frontend/src/components/PangolinOutput/index.jsx
  frontend/src/components/PangolinOutput/utils.js
  frontend/src/components/SnakemakeLog.module.css
  frontend/src/components/index.jsx
  frontend/src/pages/Call/Call.jsx
  frontend/src/pages/CallList/CallTable.jsx
  snakemake/Snakefile.malva
Owners: @yp, @AlgoLab/MALVIRUS, @sciccolella, @ldenti, @mpre

BE: Snakemake now correctly reports the job status
  flask/app/views.py
  frontend/src/pages/Call/Call.jsx
  snakemake/Snakefile.malva
Owners: @sciccolella, @yp, @ldenti, @mpre

FE: change MALVA default parameters
  frontend/src/app-config.js
  frontend/src/pages/CallNew/CallNew.jsx
  frontend/src/utils/call-params.jsx
Owners: @yp

FE: update dependencies
  frontend/package.json
  frontend/yarn.lock
Owners: @yp

FE: fix test
  frontend/src/utils/hooks.js
Owners: @yp

FE: update dependencies
  frontend/package.json
  frontend/yarn.lock
Owners: @yp

BE: fix warnings
  flask/app/views.py
  software/bin/clean_fasta.py
  software/bin/ease_malva_vcf.py
  software/bin/format_vcf.py
  software/bin/tag_vcf.py
Owners: @sciccolella, @ldenti

FE: update dependencies
  frontend/package.json
  frontend/yarn.lock
Owners: @yp

BE+FE, use a custom version of MALVA without the context Bloom Filter
  Dockerfile
  environment-malva.yml
  flask/app/views.py
  frontend/src/app-config.js
  frontend/src/pages/CallNew/CallNew.jsx
  frontend/src/utils/call-params.jsx
  snakemake/Snakefile.malva
  snakemake/config.malva.yaml
  software/malva/.gitignore
  software/malva/LICENSE
  software/malva/Makefile
  software/malva/MurmurHash3.cpp
  software/malva/MurmurHash3.hpp
  software/malva/argument_parser.hpp
  software/malva/bloom_filter.hpp
  software/malva/kmap.hpp
  software/malva/kseq.h
  software/malva/main.cpp
  software/malva/var_block.hpp
  software/malva/variant.hpp
Owners: @yp, @AlgoLab/MALVIRUS, @sciccolella, @ldenti, @mpre

SNAKEFILE: upgrade pangolin
  Dockerfile
Owners: @yp

FE: update dependencies
  frontend/package.json
  frontend/yarn.lock
Owners: @yp
