Repository AlgoLab/MALVIRUS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlgoLab/MALVIRUS, @yp, @sciccolella, @mpre, @ldenti

FE: update dependencies
  frontend/package.json
  frontend/src/components/TableLink.jsx
  frontend/yarn.lock
Owners: @yp

FE: migrate to Yarn PnP
  frontend/.gitattributes
  frontend/.gitignore
  frontend/.yarn/releases/yarn-2.4.0.cjs
  frontend/.yarn/releases/yarn-2.4.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
Owners: @yp

Upgrade to pangolin 2.4.2
  Dockerfile
  frontend/src/components/PangolinOutput/index.jsx
  frontend/src/components/PangolinOutput/utils.js
  frontend/src/pages/CallList/CallTable.jsx
Owners: @yp

FE: update dependencies
  frontend/package.json
  frontend/yarn.lock
Owners: @yp

FE: upgrade yarn
  frontend/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  frontend/.yarn/releases/yarn-2.4.1.cjs
  frontend/.yarn/releases/yarn-3.0.2.cjs
  frontend/.yarn/sdks/eslint/bin/eslint.js
  frontend/.yarn/sdks/eslint/lib/api.js
  frontend/.yarn/sdks/eslint/package.json
  frontend/.yarn/sdks/integrations.yml
  frontend/.yarn/sdks/prettier/index.js
  frontend/.yarn/sdks/prettier/package.json
  frontend/.yarnrc.yml
Owners: @yp

FE: upgrade dep
  frontend/package.json
  frontend/yarn.lock
Owners: @yp

BE: upgrade components (notably pangolin)
  .dockerignore
  Dockerfile
  environment-bcftools.yml
  environment-malva.yml
  frontend/src/components/PangolinOutput/index.jsx
  frontend/src/components/PangolinOutput/utils.js
  frontend/src/pages/Call/Call.jsx
  snakemake/Snakefile.malva
Owners: @AlgoLab/MALVIRUS, @yp, @ldenti, @mpre, @sciccolella

vscode settings
  .vscode/c_cpp_properties.json
  frontend/.vscode/extensions.json
  frontend/.vscode/settings.json
Owners: @AlgoLab/MALVIRUS, @yp

Upgrade dependencies
  Dockerfile
  environment-malva.yml
  frontend/package.json
  frontend/src/pages/CallNew/CallNew.jsx
  frontend/yarn.lock
  snakemake/Snakefile.malva
Owners: @yp, @AlgoLab/MALVIRUS, @ldenti, @mpre, @sciccolella

FE: upgrade dep
  frontend/.yarn/releases/yarn-3.0.2.cjs
  frontend/.yarn/releases/yarn-3.1.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/src/components/ButtonPanel.jsx
  frontend/src/components/PleaseWaitModal.jsx
  frontend/src/components/SnakemakeLog.jsx
  frontend/src/components/TableButton.jsx
  frontend/src/pages/CallReport/GenotypeCell.jsx
  frontend/src/pages/CallReport/TableForm.jsx
  frontend/yarn.lock
Owners: @yp

FE: upgrade yarn
  .gitignore
  frontend/.yarn/releases/yarn-3.1.1.cjs
  frontend/.yarn/releases/yarn-3.3.0.cjs
  frontend/.yarnrc.yml
  frontend/package.json
Owners: @AlgoLab/MALVIRUS, @yp

Upgrade dependencies
  Dockerfile
  environment-malva.yml
  environment-pangolin.yml
  snakemake/Snakefile.malva
Owners: @yp, @AlgoLab/MALVIRUS, @ldenti, @mpre, @sciccolella

FE: upgrade deps
  frontend/package.json
  frontend/src/antd-fixes.less
  frontend/src/pages/Call/Call.jsx
  frontend/src/pages/VcfNew/VcfNew.jsx
  frontend/src/pages/VcfUpload/VcfUpload.jsx
  frontend/yarn.lock
Owners: @yp

.github/CODEOWNERS:

*  @AlgoLab/MALVIRUS
/.github/ @yp
/flask/  @sciccolella
/frontend/  @yp
/help/  @mpre
/snakemake/ @ldenti @mpre @sciccolella
/software/ @ldenti
Dockerfile @yp
environment.yml @ldenti
run.sh @yp
